<div class="p-4 hero">
<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0">Pedir cita</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <select name="especialidad" class="form-select" [(ngModel)]="filtroCitaDTO.especialidad">
                        <option value="">Seleccione una especialidad</option>
                        <option [value]="item" *ngFor="let item of especialidades; index as i">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-4">
                    <input type="date" name="fecha" class="form-control" [(ngModel)]="filtroCitaDTO.fecha"
                        [(ngModel)]="citaDTO.fechaCita">
                </div>
            </div>
            <br>
            <button class="btn btn-primary" (click)="buscarCitas()" type="submit">Buscar</button>
            <app-alerta [alerta]="alerta"></app-alerta>

            <!-- Médico -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Médico / Hora: </label>
                <div class="col-sm-10">
                    <select name="medico" required class="form-select" [(ngModel)]="medicoSeleccionado">
                        <option value="" selected>Seleccione médico</option>
                        <option [ngValue]="item" *ngFor="let item of listaMedicoCitaDTO; index as i">{{item.horaDisponible}} </option>
                    </select>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Motivo: </label>
                <div class="col-sm-10">
                    <textarea width="200" height="100" [(ngModel)]="citaDTO.motivo" class="form-control"
                        name="motivo"></textarea>
                </div>


            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="pedirCita()" type="submit">Pedir cita</button>
            </div>

            <br>

            <div class="mb-3 row">
                <div class="col-sm-4">
                    <input type="date" name="fecha" class="form-control" [(ngModel)]="fechaCitaSeleccionada"
                        (change)="seleccionarFechaCita($event)">
                </div>
            </div>
            <br>
            <div>
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th>Motivo</th>
                            <th>Fecha de creacion</th>
                            <th>Fecha de la cita</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th>Medico</th>
                        </tr>

                    </thead>
                    <tbody class="table-group-divider text-center">
                        <tr *ngFor="let item of auxiliarCitas">
                            <td>
                                <p>{{item.motivo}}</p>
                            </td>
                            <td>
                                <p>{{item.fechaCreacion}}</p>
                            </td>
                            <td>
                                <p>{{item.fechaCita}}</p>
                            </td>
                            <td>
                                <p>{{item.hora}}</p>
                            </td>
                            <td>
                                <p>{{item.estadoCita}}</p>
                            </td>
                            <td>
                                <p>{{item.nombreMedico}}</p>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
</div>
</div>