
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contacto@uniclina.com">contacto@uniclinica.com</a>
        <i class="bi bi-phone"></i> +57 321 456 7890
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center" ></div>
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Clínica Unida</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        
        <ul>
          <li><a *ngIf="!isLogged" class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a *ngIf="!isLogged" class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a *ngIf="isLogged" class="nav-link scrollto" href="#contact">Gestión de la información personal</a></li>
          <li><a *ngIf="isLogged" class="nav-link scrollto" href="#contact">Consultas</a></li>
          <li><a *ngIf="isLogged" class="nav-link scrollto" href="#contact">PQRS</a></li>
          <li><a *ngIf="isLogged" class="nav-link scrollto" href="#contact">Citas</a></li>
          <li><a *ngIf="isLogged" class="nav-link scrollto" href="#contact">Cerrar sesión</a></li>
        </ul>
      </nav><!-- .navbar -->

      <button *ngIf="!isLogged" type="button" routerLink="/login" class="appointment-btn scrollto"><span class="d-none d-md-inline">Iniciar</span> sesión</button>
      <button *ngIf="!isLogged" type="button" routerLink="/registro" class="registration-btn scrollto"><span class="d-none d-md-inline">Registrarme</span></button>

    </div>
  </header><!-- End Header -->
  <div class="seccion-pagina p-4">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>