<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0">
            Cambio de contraseña</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Contraseña:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" [(ngModel)]="cambiarPasswordDTO.nuevaPassword"
                        name="password" required />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Confirma la contraseña:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" [(ngModel)]="cambiarPasswordDTO.confirmaPassword"
                        name="confirmaPassword" required="true" />
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!sonIguales()">Las contraseñas no
                coinciden</div>
            <button class="btn btn-primary" (click)="cambiarPasssword()" type="submit"
                [disabled]="f.invalid || !sonIguales()">
                Cambiar
            </button>
            <br>
            <div>
                <a href="/login">Ir a Login</a>
            </div>
            <app-alerta [alerta]="alerta"></app-alerta>
        </form>
    </div>
</div>